button{
    font-family: inherit;
    position: absolute;
    background-color: transparent;
    outline: none;
    color: #FFF;
    font-size: 2.2vw;
    font-weight: 300;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 30px 45px;
    left: 80%;
    margin-left: -143.835px;
    margin-top: 50px;
}