header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    position: absolute;
    width: 95vw;
}

section{
    margin-bottom: 100px;
    height: 91vh;
}

.section{
    display: flex;
    flex-direction: row;
}

.container{
    position: absolute;
    height: 91vh;
    left: 70%;
    width: 53vw;
    margin-left: -26.5vw;
    z-index: -1;

    &--left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 38vw;
        margin: auto 0;
    }
}

.works__container{
    height: 91vh;
    width: 44vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &--contact{
        width: inherit;
    }
}

.leftcolumn{
    position: fixed;
    width: 30vw;
    height: 100%;
    background-color: #1C1C1C;
    z-index: -10;
    top: 0;
    left: 0;
}

.infoname__container{
    display: flex;
    justify-content: flex-end;
}