header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;
}

.section {
    display: flex;
    flex-direction: row;
}

.footer{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__list{
        display: flex;
    }
    &__el:last-child{
        margin-left: auto;
    }
}