header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;
}

.section {
    display: flex;
    flex-direction: row;
}

.footer{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__list{
        display: flex;
    }
    &__el:last-child{
        margin-left: auto;
    }
}

.js-loader{
    height: 100vh;
    width: 100vw;
    color:#1C1C1C;
    background-color: #EAEAEA;
    position: absolute;
    top:0;
    left:0;
    opacity: 1;
    z-index:999;
    pointer-events: none;
    transition: all 400ms ease-in;
    display: flex;
    flex-direction: column;
}