<footer>
    <section>
        <div class="infoname__container">
            <p class="infoname infoname--section">Contact</p>
        </div>
        <div class="works__container works__container--contact">
            <h2 id="contact" class="title paddingleft"> <span class="linebreak">Feel free to send me</span> <span class="italicspan italicspan--boldcaps">love</span> or just <span class="italicspan italicspan--boldcaps">inqueries.</span></h2>

            <ul class="contact__list">
                <svg class="arrow" width="64" height="65" viewBox="0 0 64 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M1 33L61.7931 32.9998L39.3519 55.4411L40.059 56.1482L63.7073 32.4998L40.059 8.85148L39.3519 9.55859L61.7931 31.9998L0.999999 32L1 33Z" fill="white"/>
                </svg>
                <li class="contact__el">
                    <a class="link" href="mailto:matteo@sanserif.be">Mail</a>
                </li>
                <li class="contact__el">
                    <a class="link" href="https://www.instagram.com/de_lorenzi_matteo/?hl=fr">Instagram</a>
                </li>
                <li class="contact__el">
                    <a class="link" href="https://www.linkedin.com/in/matteo-de-lorenzi-458071158/">Linkedin</a>
                </li>
            </ul>
        </div>
        <small> 
            <ul class="paddingleft">
            <li>
                <p class="text text--small">©Matteo De Lorenzi 2021</p>
            </li>
            <li>
                <p class="text text--small">ALL RIGHTS RESERVED</p>
            </li>
            <li>
                <p class="text text--small">Made with love &#x2661;</p>
            </li>
        </ul>
        </small>
    </section>
<footer>