<footer>
    <p>Contact</p>
    <h2 class="title">Feel free to send me <span class="italicspan italicspan--boldcaps">love</span> or just <span class="italicspan italicspan--boldcaps">inqueries.</span></h2>

    <ul>
        <li>
            <p>Mail</p>
        </li>
        <li>
            <p>Instagram</p>
        </li>
        <li>
            <p>Linkedin</p>
        </li>
    </ul>

    <smalL>
        <ul>
        <li>
            <p>©Matteo De Lorenzi 2021</p>
        </li>
        <li>
            <p>ALL RIGHTS RESERVED</p>
        </li>
        <li>
            <p>Made with love</p>
        </li>
    </ul>
    </small>
<footer>