---

title: My first page
description: Matteo est trop fort
layout: base

---

<header>
    <h1 class=""><span class="italicspan">Ma</span>tteo De Lorenzi <span class="italicspan linebreak">designer freelance</span></h1>
</header>

<main>
    <div class="js-loader">
        <h2 class="slide-js title title--intro">Matteo De Lorenzi<span class="linebreak">Freelance Designer</span> <span class="linebreak italicspan"> @Sanserif</span></h2>
    </div>
    <section class="section">
            
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="image" src="{{ '/assets/images/winter.jpg' | resize(600) }}" alt="Winter landscape">
                    </div>
                    <div class="swiper-slide">
                        <img class="image" src="{{ '/assets/images/itsadonis.jpg' | resize(600) }}" alt="Itsadonis website">
                    </div>
                    <div class="swiper-slide">
                        <img class="image" src="{{ '/assets/images/tinybotanique.jpg' | resize(600) }}" alt="Tiny Botanique website">
                    </div>
                    <div class="swiper-slide">
                        <img class="image" src="{{ '/assets/images/sanserif.jpg' | resize(600) }}" alt="Sanserif website">
                    </div>
                    <div class="swiper-slide">
                        <img class="image" src="{{ '/assets/images/touthockey.jpg' | resize(600) }}" alt="Tout Hockey website">
                    </div>
                </div>
                <div class="swiper-scrollbar"></div>             
            </div>

            <div class="container">
                <h3 class="title title--deco">Winter</h3>
                <p class="text">Winter is a series of pictures taken during a journey in the Hautes Fagnes. Between light play, grain work and contrast, this series tends to be artistic and mysterious.</p>
            </div>
    </section>
</main>
<footer class="footer">
    <ul class="footer__list">
        <li class="footer__el">
            <p> based in brussels, belgium</p>
        </li>
        <li class="footer__el">
            <a class="link" href="mailto:hello@matteodelorenzi.be">hello@matteodelorenzi.be</a>
        </li>
    </ul>
</footer>

