---

title: My first page
description: Matteo est trop fort
layout: base

---

<header>
    <h1 class="title title--name paddingleft"><span class="italicspan">Ma</span>tteo De Lorenzi <span class="italicspan linebreak">designer freelance</span></h1>
</header>

<main>
    <section class="section">
            
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="image" src="{{ '/assets/images/winter.jpg' | resize(600) }}" alt="Winter landscape">
                    </div>
                    <div class="swiper-slide">
                        <img class="image" src="{{ '/assets/images/itsadonis.jpg' | resize(600) }}" alt="Itsadonis website">
                    </div>
                    <div class="swiper-slide">
                        <img class="image" src="{{ '/assets/images/tinybotanique.jpg' | resize(600) }}" alt="Tiny Botanique website">
                    </div>
                    <div class="swiper-slide">
                        <img class="image" src="{{ '/assets/images/sanserif.jpg' | resize(600) }}" alt="Sanserif website">
                    </div>
                    <div class="swiper-slide">
                        <img class="image" src="{{ '/assets/images/touthockey.jpg' | resize(600) }}" alt="Tout Hockey website">
                    </div>
                </div>
                <div class="swiper-scrollbar"></div>                
            </div>
    </section>
</main>
<footer>
    <ul>
        <li>
            <p> based in brussels, belgium</p>
        </li>
        <li>
            <a class="link" href="mailto:hello@matteodelorenzi.be">hello@matteodelorenzi.be</a>
        </li>
    </ul>
</footer>

