---

thumbnail: /assets/images/other/thumbnail.png
type: website
description: A great description for my super website.
robots: index, follow

---

<!doctype html>
<html lang="en">

  {% include 'head.njk' %}

  <body>

    {{ content | safe }}

  </body>
  <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js" integrity="sha512-eP6ippJojIKXKO8EPLtsUMS+/sAGHGo1UN/38swqZa1ypfcD4I0V/ac5G3VzaHfDaklFmQLEs51lhkkVaqg60Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</html>
